body {
  padding-top: 70px;
}

h5 {
	font-weight: bold;
}

.jumbotron {
	background: url(../img/houses.jpg);
	height: 300px;
}

.green {
	background-color: #5cb85c;
	color: #eee;
}

.blue {
	background-color: #428bca;
	color: #eee;
}

.orange {
	background-color: #f0ad4e;
	color: #eee;
}

.info-box {
	height: 380px;
	font-size: 16px;
}

.col-md-4, .col-md-8 {
	border-radius:15px;
	border: 5px solid #fff;
}

thead td {
	font-weight: bold;
}

.alert {
	margin-top: 5px;
}

.ajax-file-upload, .ajax-file-upload form input {
	width: 100% !important;
	text-align: center;
	vertical-align: middle;
	height: 35px !important;
  	padding: 8px 10px 4px 10px !important; 
}

.center-image {
 	display: block;
    margin-left: auto;
    margin-right: auto;
}

.no-border th, .no-border td {
     border-top: none !important;
 }

 .btn-td {
 	text-align: left;
 }

 .has-error {
 	border: 1px solid #f00;
 }

 .small-margin {
 	margin-left: 10px;
 }

 .contact {
 	overflow: hidden;
 }

 .img-contact {
 	margin-bottom: 2px;
 	max-width: 150px;
 	max-height: 200px;
 }

 .std-textarea {
 	width: 100%;
 	height: 300px;
 }

 .img-area {
	margin-top: 15px;
	margin-right: 5px;
	max-width: 274px;
	max-height: 207px;
 }
 .img-area-container {
 	float: left;
 	margin-bottom: 50px;
 }

 /*Semi custom upload button */

 .area-upload-button {
	cursor:pointer;	
  	display: inline-block;
	background: #fff;
  	border: 1px solid #e8e8e8;
  	color: #888;
  	text-decoration: none;
  	border-radius: 3px;
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	padding: 8px 10px 4px 10px; 
  	color: #fff;
  	background: #5cb85c;
  	border: none;
  	vertical-align:middle;
  	text-align: center;
	width: 274px !important;
	height: 35px !important;
  	margin-top: 5px;
}
  
.area-upload-button:hover {
      background: #47a447;
}