body {
  padding-top: 70px;
}

h5 {
	font-weight: bold;
}

.jumbotron {
	background: url(../img/houses.jpg);
	height: 300px;
}

.green {
	background-color: #5cb85c;
	color: #eee;
}

.blue {
	background-color: #428bca;
	color: #eee;
}

.orange {
	background-color: #f0ad4e;
	color: #eee;
}

.info-box {
	height: 380px;
	font-size: 16px;
}

.col-md-4, .col-md-8 {
	border-radius:15px;
	border: 5px solid #fff;
}

thead td {
	font-weight: bold;
}

.alert {
	margin-top: 5px;
}

.ajax-file-upload, .ajax-file-upload form input {
	width: 100% !important;
	text-align: center;
	vertical-align: middle;
	height: 35px !important;
}

.center-image {
 	display: block;
    margin-left: auto;
    margin-right: auto;
}

.no-border th, .no-border td {
     border-top: none !important;
 }

 .btn-td {
 	text-align: left;
 }

 .has-error {
 	border: 1px solid #f00;
 }

 .small-margin {
 	margin-left: 10px;
 }

 .img-contact {
 	margin-bottom: 2px;
 	max-width: 100px;
 	max-height: 200px;
 }